.container {
  display: flex;
  padding: 100px 50px 125px;
}
.title-container {
  min-width: 28%;
}
.title {
  color: #000;
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 576px) {
  .container {
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 24px 64px;
  }
}
