.Popup .swiper-button-next {
  color: white;
}
.Popup .swiper-button-prev {
  color: white;
}
.Popup .swiper {
  width: 100%;
  height: 100%;
}
.Popup .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Popup .swiper-pagination {
  color: white;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  top: 16px;
  height: 12px;
}
.Popup .swiper-button-next::after {
  font-size: 27px;
}
.Popup .swiper-button-prev:after {
  font-size: 27px;
}
