.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1010;
}
.image {
  height: 80%;
  width: auto;
}
.close-icon {
  position: absolute;
  z-index: 1000;
  top: 11px;
  right: 12px;
}
@media (max-width: 1024px) {
  .image {
    height: 70%;
    width: auto;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .image {
    width: 80%;
    height: auto;
    max-height: 80%;
  }
}
