.container {
  display: flex;
  flex-direction: column;
  padding: 100px 50px 0 50px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}
.image-background {
  top: 350px;
  position: absolute;
  height: auto;
  max-height: 100%;
  opacity: 0.3;
}
.container-background {
  position: relative;
}

@media (max-width: 768px) {
  .container {
    padding: 96px 25px 0 25px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 48px 12px 0 12px;
  }
}
