.footer {
  background-color: #27425c;
  color: #fff;
  min-height: 500px;
  position: relative;
}
.img-container {
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  z-index: 10;
  display: flex;
  gap: 68px;
  padding: 55px 130px;
  margin: 0;
  position: relative;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link {
  text-decoration: none;
  color: white;
}
.link li {
  margin-bottom: 10px;
    
}
.link:hover{
    text-decoration: underline;
}
.footer-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-list{
    margin-bottom: 10px;
}
