.navbar-nav {
  margin-left: auto;
  gap: 42px;
}
.navbar {
  padding: 20px 70px 40px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  z-index: 999;
  box-sizing: border-box;
  height: 120px;
}
.nav-link {
  padding: 10px 10px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.active {
  color: #000;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-decoration: underline !important;
}
.navbar-brand {
  min-width: 28%;
}

.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.nav-link-active {
  font-weight: 700;
}

@media (max-width: 1280px) {
  .navbar-nav {
    gap: 24px;
  }
}

@media (max-width: 1024px) {
  .navbar-nav {
    gap: 12px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 10px 25px;
    opacity: 1;
    height: 50px;
  }
}

@media (max-width: 328px) {
  .navbar {
    padding: 10px 10px;
    opacity: 1;
    height: 50px;
  }
  .logo {
    width: 150px;
    height: auto;
  }
}
