.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  z-index: 10;
  position: relative;
}
.banner-image {
  width: 100%;
  height: auto;
}
.content-container {
  color: #27425c;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 125px auto;
  width: 1180px;
}
.content-1 {
  margin-bottom: 30px;
}
.content-2 {
  text-align: center;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #27425c;
}

.instagram-link {
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #27425c;
  text-decoration: none;
}
.container-background {
  position: relative;
}
.image-background {
  position: absolute;
  height: auto;
  width: 100%;
  max-height: 100%;
  top: 395px;
}

@media (max-width: 1280px) {
  .content-container {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .content-container {
    margin: 64px auto;
    font-size: 16px;
  }
  .content-2 {
    font-size: 16px;
  }
  .instagram-link {
    font-size: 16px;
  }
}
