.content-left {
  width: 66.66%;
}
.content-right {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container {
  display: flex;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: auto;
  z-index: 10;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.images-2 {
  height: calc(50% - 5px);
  width: auto;
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 576px) {
  .container {
    flex-wrap: wrap;
  }
  .content-left {
    width: 100%;
  }
  .content-right {
    width: 100%;
    flex-direction: row;
  }
  .images {
    width: 100%;
    height: 320px;
  }
  .images-2 {
    height: 160px;
    width: calc(50% - 5px);
    object-fit: cover;
    object-position: center center;
  }
}
