.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .image {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 576px) {
  .image {
    width: 100%;
    height: 100%;
  }

}
