.main {
  min-height: 600px;
  padding-bottom: 40px;
}
.floating-link {
  width: 75px;
  height: 75px;
  position: sticky;
  z-index: 1001;
  bottom: 40px; /* Adjust the distance from the bottom of the screen */
  left: 90%;
  display: inline-block;
}

@media (max-width: 856px) {
  .floating-link {
    left: 85%;
  }
}
@media (max-width: 768px) {
  .floating-link {
    left: 80%;
  }
}
@media (max-width: 576px) {
  .floating-link {
    left: 75%;
  }
}
@media (max-width: 400px) {
  .floating-link {
    left: 70%;
  }
}

@media (max-width: 328px) {
  .floating-link {
    left: 65%;
  }
}
