.navbar-nav {
  margin-left: auto;
  gap: 42px;
}
.navbar {
  padding: 40px 50px;
  margin-top: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  z-index: 999;
  background: transparent;
}
.nav-link {
  padding: 10px 10px;
  color: #fff;
  text-transform: uppercase;
}

.active {
  color: #000;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-decoration: underline !important;
}
.navbar-brand {
  min-width: 33.33%;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: white;
  text-decoration: underline;
}
.nav-link-active {
  font-weight: 700;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container {
  margin: 0;
}
.navbar-brand {
  width: 33.33%;
}
@media (max-width: 1280px) {
  .navbar-nav {
    gap: 24px;
  }
}

@media (max-width: 1024px) {
  .navbar-nav {
    gap: 12px;
  }
}
