@media (max-width: 992px) {
  .HomepageLayout .collapse.navbar-collapse.show {
    width: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
    margin-top: 20px;
  }
}
