.footer {
  background-color: #27425c;
  color: #fff;
  position: relative;
  min-height: 500px;
}
.img-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
.image {
  width: 100%;
  height: 100%;
}
.container {
  z-index: 10;
  display: flex;
  gap: 8px;
  padding: 55px 130px;
  margin: 0;
  position: relative;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link {
  text-decoration: none;
  color: white;
}
.link li {
  margin-bottom: 10px;
}
.link:hover {
  text-decoration: underline;
}
.footer-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-list {
  margin-bottom: 10px;
}
.row {
  width: 173px;
  padding: 0;
}
.watermark {
  position: absolute;
  bottom: 50px;
  left: 130px;
  display: flex;
  height: 19px;
}

@media (max-width: 992px) {
  .img-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer {
    min-width: 200px;
  }
  .container {
    padding: 55px 55px;
    font-size: 14px;
  }
  .watermark {
    left: 55px;
  }
}

@media (max-width: 576px) {
  .footer {
    min-width: 100px;
  }
  .container {
    padding: 28px 28px;
    font-size: 12px;
  }
  .watermark {
    left: 28px;
  }
}

@media (max-width: 328px) {
  .container {
    flex-wrap: wrap;
  }
  .watermark {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
