.navbar-nav {
  margin-left: auto;
  gap: 42px;
}
.navbar {
  padding: 20px 50px 40px;
  margin-top: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  z-index: 999;
  background: transparent;
  box-sizing: border-box;
  height: 175px;
  background: linear-gradient(180deg, #000 0%, rgba(217, 217, 217, 0) 100%);
  opacity: 0.7;
}

.nav-link {
  padding: 10px 10px;
  color: #fff;
  text-transform: uppercase;
}

.active {
  color: #000;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-decoration: underline !important;
}
.navbar-brand {
  min-width: 28%;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: white;
  text-decoration: underline;
}
.nav-link-active {
  font-weight: 700;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container {
  margin: 0;
}
.navbar-brand {
  width: 28%;
}
@media (max-width: 1280px) {
  .navbar-nav {
    gap: 24px;
  }
}

@media (max-width: 992px) {
  .navbar {
    justify-content: start;
    opacity: 1;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    border: 2px solid white;
    box-shadow: none;
  }
  .nav-link {
    padding: 10px 10px;
    color: black;
    text-transform: uppercase;
  }
}
@media (max-width: 1024px) {
  .navbar-nav {
    gap: 12px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 10px 25px;
    opacity: 1;
    height: 50px;
  }
}

@media (max-width: 328px) {
  .navbar {
    padding: 10px 10px;
    opacity: 1;
    height: 50px;
  }
  .logo {
    width: 150px;
    height: auto;
  }
}
