.image-background {
  top: 350px;
  position: absolute;
  height: auto;
  max-height: 100%;
  opacity: 0.3;
}
.container {
  display: flex;
  gap: 115px;
}
.container-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container-right {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.image {
  height: auto;
  width: 100%;
}
.address {
  width: 253px;
}
@media (max-width: 1024px) {
  .container {
    padding: 50px 25px 64px;
  }
  .container {
    gap: 32px;
    flex-wrap: wrap;
  }
  .image-background {
    width: 100%;
    opacity: 0.3;
    max-height: 100%;
  }
  .address {
    width: 100%;
  }
}
@media (max-width: 576px) {
}
