.container {
  display: flex;
  margin-bottom: 125px;
  padding: 0 50px;
}
.filter-container {
  width: 265px;
}
.content-container {
  width: 100%;
}
.content-container {
  gap: 20px;
}
.filter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 265px;
}
