.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.image-container {
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
}
.image {
  width: calc(33.33% - 6.66px);
  object-fit: cover;
  object-position: center;
}

.image-full {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
