.container {
  height: 350px;
  background-size: cover;
  background-position: center;
  width: calc(33.33% - 13.33px);
  color: #000;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
}
.header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.header:hover,
.footer:hover {
  color: white;
}
.link {
  text-decoration: none;
  color: black;
}

@media (max-width: 1024px) {
  .container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 328px) {
}
