.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.content-container {
  width: 65%;
  height: 40vw;
  background-color: white;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}
.image-container {
  min-width: 60%;
  display: flex;
  align-items: center;
}
.detail-container {
  min-width: 40%;
}
.close-icon {
  position: absolute;
  z-index: 1000;
  top: 11px;
  right: 12px;
}
.image {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.title {
  color: #000;
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 70px;
  margin-bottom: 50px;
}

.title-textfield {
  color: #000;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.description-textfield {
  color: #000;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-project {
  color: #a7bc8b;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
