.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1010;
}
.content-container {
  width: fit-content;
  min-width: 80%;
  max-width: 80%;
  height: 40vw;
  background-color: white;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}
.image-container {
  min-width: 58%;
  max-width: 58%;
  display: flex;
  align-items: start;
  overflow: hidden;
  padding: 10px;
  justify-content: center;
}
.detail-container {
  min-width: calc(40% - 40px);
}
.close-icon {
  position: absolute;
  z-index: 1000;
  top: 11px;
  right: 12px;
}
.image-container:hover .image {
  display: none;
}
.image-container:hover .image-zoom {
  display: block;
}
.image {
  width: auto;
  height: 100%;
  display: block;
}
.image-zoom {
  width: 100%;
  height: 100%;
  padding: 10px;
  transform: scale(1.5);
  display: none;
}
.title {
  color: #000;
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 70px;
  margin-bottom: 50px;
}

.title-textfield {
  color: #000;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.description-textfield {
  color: #000;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-project {
  color: #a7bc8b;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@media (max-width: 1024px) {
  .title {
    font-size: 24px;
    margin-top: 35px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .description {
    gap: 10px;
  }
  .content-container {
    gap: 10px;
  }
}

@media (min-width: 576px) {
  .image-horizontal {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .content-container {
    flex-direction: column;
    height: 90vh;
  }
  .image-container {
    min-width: 100%;
    max-width: 100%;
  }
  .image {
    width: 100%;
    height: 250px;
  }
  .detail-container {
    padding: 10px;
  }
}
