.description-1 {
  color: #000;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.description-2 {
  color: #000;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-top: 42px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 125px;
}
.image {
  width: 100%;
  height: auto;
  padding: 0 130px;
  z-index: 5;
}
.team-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 80px;
}
.team-item {
  width: calc(28% - 53.33px);
}
.container {
  padding: 0 70px;
}
.image-background {
  top: 450px;
  position: absolute;
  height: auto;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .team-container {
    flex-wrap: wrap;
  }
  .image-container {
    margin-bottom: 64px;
  }
  .image {
    padding: 0 70px;
  }
  .team-item {
    width: calc(50% - 80px);
  }
}

@media (max-width: 576px) {
  .team-item {
    width: 100%;
  }
  .image {
    padding: 0 20px;
  }
}
